
#table-title {
    background-color: black;
    color: white;
    text-align: center;
}

.btn-serie-name {
    position: relative;
    background: white;
    color: rgb(0, 87, 248);
    padding: 1rem 0;
    border: none;
    outline: none;
    cursor: pointer; /* para que salga la manito */
}

/* crear y animar el underline de los botones */

.btn-serie-name::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.175rem;
    left: 0;
    right: 0;
    background: rgb(0, 87, 248);
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}


.btn-serie-name:hover::after {
    color: blue;
    transform: scale(1, 0.5);
}
